.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.table table {
  font-size: 0.8rem;
  width: 100%;
  line-height: 2em;
}

.table thead {
  text-align: right;
}

.table .hr, .table td, .table th {
  padding: 0 !important;
}

th.str, th.text2 {
  text-align: left !important;
}

div.search:hover {
  background: #EEE;
}

div.search {
  border-radius: 3px;
}